/* inizio generali */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        font-family: sans-serif;
    }
    
    a{
        text-decoration: none;
        color: #fff;
    }

    .container{
        width: 80%;
        margin: auto;
    }

    .float_left{
        float: left;
    }

    .float_right{
        float: right;
    }

    .flexbox{
        display: flex;
    }
/* fine generali */

/* inizio header */
    header{
        background-color: #000;
        height: 100px;
    }

    header::after{
        content: "";
        display: table;
        clear: both;
    }

        .link_utili{
            line-height: 50px;
        }

        .link_utili ul{
            display: inline-block;
        }

        .link_utili li{
            display: inline;
            padding: 10px;
        }

        .link_utili ul a{
            color: #958a90;
            font-size: 12px;
        }

        .link_utili ul a:hover{
            text-decoration: underline;
            color: #fff;
        }

        .link_utili ul a i{
            color: #009dfa;
            font-size: 18px;
            padding: 0px 8px;
        }

        .link_utili form{
            display: inline-block;
        }

        #menu .logo{
            display: inline-block;
        }

        #menu ul{
            display: inline-block;
            height: 36px;
            vertical-align: middle;
        }

        #menu li{
            display: inline;
        }

        #menu ul a{
            color: #fff;
            font-size: 12px;
            padding: 20px;
        }

        #menu ul a i{
            color: #958a90;
        }

        #menu ul a:hover{
            background-color: #f1f1f1;
            color: #000;
        }
/* fine header */

/* inizio jumbotron */
    #jumbotron{
        background-color: #0d0b26;
        height: 100%;
        width: 100%;
        position: relative;
    }

    #jumbotron{
        content: "";
        display: table;
        clear: both;
    }

    #jumbotron #grafica_dragon{
        width: 50%;
    }

    #jumbotron #grafica_dragon img{
        width: 100%;
        height: 600px;
        object-fit: none;
    }

    #jumbotron .vetrina{
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        height: 600px;
        min-width: 700px;
        padding: 30px;
        color: #fff;
    }

        .vetrina .software{
            font-size: 25px;
        }

            .software .novità{
                font-weight: bold;
                text-transform: uppercase;
                font-style: italic;
            }

            .software .nome_software{
                font-weight: 100;
            }

            .software .sottotitolo{
                font-size: 18px;
                font-weight: 100;
            }

        .vetrina .prova_15gg{
            margin-top: 40px;
            border-bottom: 1px solid #958a90;
            padding-bottom: 30px;
        }

            .prova_15gg .btn_prova{
                border: 1px solid #fff;
                padding: 10px;
            }

            .prova_15gg .btn_prova:hover{
                color: #958a90;
                border: 1px solid #958a90;
            }

            .prova_15gg img{
                width: 100px;
            }

            .prova_15gg .valutazione{
                align-items: center;
                margin-left: 30px;
            }

                .valutazione span{
                    margin-left: 20px;
                }

/* fine jumbotron */